*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    height: 100vh;
    background: linear-gradient(to right, #141E30, #243B55);
}

.LoginBox{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background: rgba(22, 52, 107, 0.5);
    box-shadow: 0 15px 25px rgba(5, 10, 16, 0.6);
    border-radius: 10px;
    padding: 40px;
}

.LoginBox h2{
    text-align: center;
    color: #fff;
    margin-bottom: 30px;
}

.userInputBox{
    position: relative;
    margin-bottom: 30px;
}

.userInputBox label{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

.userInputBox input{
    width: 100%;
    background: transparent;
    outline: none;
    border: 0;
    border-bottom: 1px solid #fff;
    padding: 10px 0;
    margin-bottom: 30px;
    font-size: 16px;
}

.userInputBox input:focus ~ label,
.userInputBox input:valid ~ label{
    top: -20%;
    font-size: 12px;
    color: #abbfd6;
}

.LoginBox a{
    position: relative;
    color: #a3b7ca;
    text-decoration: none;
    font-size: 16px;
    letter-spacing: 2px;
    padding: 10px 20px;
    border: 0;
    border-radius: 5px;
    transition: .5s;
}

.LoginBox a:hover{
    color: #fff;
    background: #042246;
    box-shadow: 0 0 5px #083568,
                         0 0 25px #083161,
                         0 0  50px #083161,
                         0 0 100px  #083161;
}

.LoginBox a span{
    position: absolute;
}




















































